@mixin app-font($size, $height, $color, $weight, $style: normal) {
  font-family: "Inter";
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
  font-style: $style;
  color: $color;
  font-display: swap;
}
