.section-tech-stack {
  overflow-x: hidden;
  padding-top: 7.125rem;
  padding-bottom: 11.0625rem;
  .tech-stack-break {
    display: none;
  }
  .tech-stack {
    &__title {
      text-align: center;
      text-transform: none;
      @include app-font(3rem, 4.25rem, $dark_brown, 500);
      letter-spacing: -0.06rem;
      font-family: "Roboto Serif";
      margin-bottom: 5.3125rem;
      &-green {
        color: $dark_green;
      }
    }
    &__group {
      display: flex;
      flex-wrap: wrap;
      gap: 1.5rem;
      padding-left: 6rem;
    }
  }
  .group-item {
    position: relative;
    height: 7.375rem;
    width: 35rem;
    &__fruit {
      &-img {
        width: 3.6875rem;
        height: 5rem;
      }
    }
    &__line {
      position: absolute;
      top: 4.625rem;
      left: 3.6875rem;
      width: 12.875rem;
      height: 0.125rem;
      background: $dark_green;
    }
    &__name {
      @include app-font(1.875rem, 4.25rem, $dark_green, 700);
      letter-spacing: -0.0375rem;
      position: absolute;
      left: 1.75rem;
      top: 1.3125rem;
    }
    &__title {
      @include app-font(1.375rem, 2.125rem, $dark_brown, 600);
      width: 16.75rem;
      letter-spacing: -0.0275rem;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

@media (max-width: $tab) {
  .section-tech-stack {
    overflow-x: hidden;
    padding: 0 3rem;
    padding-top: 3.5625rem;
    padding-bottom: 3.6875rem;
    .tech-stack-break {
      display: block;
    }
    .tech-stack {
      &__title {
        @include app-font(1.875rem, 2.625rem, $dark_brown, 500);
        letter-spacing: -0.0375rem;
        font-family: "Roboto Serif";
        margin-bottom: 3.0625rem;
      }
      &__group {
        display: flex;
        flex-wrap: wrap;
        gap: 4.3125rem;
        padding-left: 0;
      }
    }
    .group-item {
      position: relative;
      width: 17.0625rem;
      height: 8.625rem;
      &__name {
        @include app-font(1.625rem, 4.25rem, $dark_green, 700);
        letter-spacing: -0.0325rem;
        left: 2.35rem;
        top: 1.3125rem;
      }
      &__title {
        @include app-font(0.8125rem, 1.5rem, $dark_brown, 700);
        width: 13.5rem;
        letter-spacing: 0rem;
        bottom: 0;
        right: 0;
      }
    }
  }
}

@media (max-width: $mob) {
  .section-tech-stack {
    overflow-x: hidden;
    padding: 2.375rem 1.5rem 2.6875rem 1.5rem;
    .tech-stack {
      &__title {
        @include app-font(1.25rem, 1.875rem, $dark_brown, 500);
        letter-spacing: -0.025rem;
        font-family: "Roboto Serif";
        margin-bottom: 0.9375rem;
      }
      &__group {
        gap: 1.25rem;
      }
    }
    .group-item {
      position: relative;
      width: 17.0625rem;
      height: 8.625rem;
      &__name {
        @include app-font(1.375rem, 4.25rem, $dark_green, 700);
        letter-spacing: -0.0275rem;
        left: 2.35rem;
        top: 1.3125rem;
      }
      &__title {
        @include app-font(0.8125rem, 1.5rem, $dark_brown, 700);
        width: 13.5rem;
        letter-spacing: 0rem;
        bottom: 0;
        right: 0;
      }
    }
  }
}
